<script src="../../../../GEEB/app/js/services.js"></script>
<form ng-submit="vm.addConsigna( nombreConsigna )">
  <div class="modal-body" style="height: 100px; margin-top: 100%; padding-top: 25px;">

    <span>Nombre de Consigna</span>
    <div class="fg-line m-l-10">
      <input type="text"
             ng-model="nombreConsigna"
             class="form-control"
             placeholder="Nombre..."
             required
             autofocus
             my-enter="vm.addConsigna( nombreConsigna )"
             >
    </div>

  </div>
  <div class="modal-footer">
    <div align="right">
      <button class="btn btn-primary waves-effect" type="submit">Aceptar</button>
      <div class="btn btn-primary waves-effect" ng-click="vm.modalConsigna.dismiss();">Cancelar</div>
    </div>
  </div>
</form>
