<form name="clientForm" id="form" ng-submit="vm.registerClient(); vm.clearConsignas()">

  <!--Header-->
  <div class="modal-header p-t-10">
    <ul class="tab-nav">
      <li class="{{vm.view == 'general' ? 'active' : ''}}">
        <a href="" ng-click="vm.view = 'general'">General</a>
      </li>
      <li class="{{vm.view == 'horarios' ? 'active' : ''}}">
        <a href="" ng-click="vm.view = 'horarios'">Horarios</a>
      </li>
      <li class="{{vm.view == 'responsibles' ? 'active' : ''}}" >
        <a href="" ng-click="vm.view = 'responsibles'">Responsables</a>
      </li>
      <li class="{{vm.view == 'assignment' ? 'active' : ''}}" >
        <a href="" ng-click="vm.view = 'assignment'">Asignación</a>
      </li>
      <li class="{{vm.view == 'consignas' ? 'active' : ''}}" ng-if="vm.isEdit" >
        <a href="" ng-click="vm.view = 'consignas'">Consignas</a>
      </li>
      <li class="{{vm.view == 'consignas' ? 'active' : ''}}" ng-if="!vm.isEdit">
        <a href="" ng-click="vm.client.clienteNombre ? vm.view = 'consignas' : vm.errorConsignaUndeclaredClientName()" >Consignas</a>
      </li>
    </ul>
  </div>

  <!--Body-->
  <div class="modal-body modal-size" style="overflow-y: auto">
    <div class="row">

      <!--General-->
      <div class="m-l-30 m-r-30 " ng-show="vm.view == 'general'">

        <!--DATOS DEL SERVICIO-->
        <h4 style="color: #616161; margin-top: 0px; margin-left: 30px;">Datos del servicio</h4>
        <div class="row m-t-15">

          <!--NOMBRE-->
          <div class="col-xs-offset-1 col-xs-5">
            <span>Nombre</span>
            <div class="fg-line m-l-10">
              <input type="text" name="clientName" ng-model="vm.client.clienteNombre" class="form-control"
                     placeholder="Nombre completo aqui..." value="{{vm.isEdit ? vm.client.clienteNombre : ''}}" ng-disabled="vm.isEdit || vm.isAddConsigna"
                     required>
            </div>
          </div>

          <!--DOMICILIO-->
          <div class="col-xs-5">
            <span>Domicilio</span>
            <div class="fg-line m-l-10">
              <input type="text" ng-model="vm.client.clienteDomicilio" class="form-control" placeholder="Escribe el domicilio..."
                     required>
            </div>
          </div>
        </div>

        <div class="row m-t-30" ng-if="vm.user.usuarioTipo != 'guardia'">


          <div class="col-xs-offset-1 col-xs-5">
            <span>Zona</span>
            <div class="fg-line m-l-10">
              <select class="form-control" ng-model="vm.client.clienteZonaAsignada">
                <option value="{{zona.zonaNombre}}" ng-repeat="zona in vm.zonas" >{{zona.zonaNombre}}</option>
              </select>
            </div>
          </div>
        </div>
        <h4 style="color: #616161; margin-top: 20px; margin-left: 30px;">Horario</h4>
        <div class="row">
          <div class="col-xs-12 m-t-15" align="center">
            <div class="checkbox m-b-15" style="display: inline">
              <label>
                <input type="checkbox" ng-model="vm.monday" ng-click="vm.daysSelected(vm.monday, 'lunes')">
                <i class="input-helper"></i>
                Lunes
              </label>
            </div>
            <div class="checkbox m-b-15" style="display: inline">
              <label>
                <input type="checkbox" ng-model="vm.thusday" ng-click="vm.daysSelected(vm.thusday, 'martes')">
                <i class="input-helper"></i>
                Martes
              </label>
            </div>
            <div class="checkbox m-b-15" style="display: inline">
              <label>
                <input type="checkbox" ng-model="vm.wednesday" ng-click="vm.daysSelected(vm.wednesday, 'miercoles')">
                <i class="input-helper"></i>
                Miercoles
              </label>
            </div>
            <div class="checkbox m-b-15" style="display: inline">
              <label>
                <input type="checkbox" ng-model="vm.thursday" ng-click="vm.daysSelected(vm.thursday, 'jueves')">
                <i class="input-helper"></i>
                Jueves
              </label>
            </div>
            <div class="checkbox m-b-15" style="display: inline">
              <label>
                <input type="checkbox" ng-model="vm.friday" ng-click="vm.daysSelected(vm.friday, 'viernes')">
                <i class="input-helper"></i>
                Viernes
              </label>
            </div>
            <div class="checkbox m-b-15" style="display: inline">
              <label>
                <input type="checkbox" ng-model="vm.saturday" ng-click="vm.daysSelected(vm.saturday, 'sabado')">
                <i class="input-helper"></i>
                Sabado
              </label>
            </div>
            <div class="checkbox m-b-15" style="display: inline">
              <label>
                <input type="checkbox" ng-model="vm.sunday" ng-click="vm.daysSelected(vm.sunday, 'domingo')">
                <i class="input-helper"></i>
                Domingo
              </label>
            </div>
          </div>
        </div>

        <div class="row m-t-30">
          <div class="col-xs-6" align="right">
            <span>Hora de apertura:</span>
            <input type="time" name="" id="tiempoAperturah1" ng-value="vm.openingTimeh1" ng-model="vm.openingTimeh1">
          </div>
          <div class="col-xs-6">
            <span>Hora de cierre:</span>
            <input type="time" name="" id="tiempoCierreh1" ng-value="vm.closingTimeh1" ng-model="vm.closingTimeh1">
          </div>
        </div>
        <div class="row m-t-15">
          <div class="col-xs-6" align="right">
            <span>Hora de apertura:</span>
            <input type="time" name="" id="tiempoAperturah2" ng-value="vm.openingTimeh2" ng-model="vm.openingTimeh2">
          </div>
          <div class="col-xs-6">
            <span>Hora de cierre:</span>
            <input type="time" name="" id="tiempoCierreh2" ng-value="vm.closingTimeh2" ng-model="vm.closingTimeh2">
          </div>
        </div>
        <div class="row m-t-15">
          <div class="col-xs-6" align="right">
            <span>Hora de apertura:</span>
            <input type="time" name="" id="tiempoAperturah3" ng-value="vm.openingTimeh3" ng-model="vm.openingTimeh3">
          </div>
          <div class="col-xs-6">
            <span>Hora de cierre:</span>
            <input type="time" name="" id="tiempoCierreh3" ng-value="vm.closingTimeh3" ng-model="vm.closingTimeh3">
          </div>
        </div>

      </div>

      <div ng-if="vm.view == 'horarios'">

        <div class="m-t-20">

          <div class="col-xs-6">


          </div>

        </div>

      </div>

      <!-- Responsables -->
      <div ng-if="vm.view == 'responsibles'">
        <div class="m-t-20">
          <!-- Card para los reponsables que existen -->
          <div class="col-xs-6" ng-repeat="responsible in vm.listResponsibles">
            <div class="card responsible-small cursor-pointer" ng-click="vm.isEditResponsible = true; vm.editResponsible(responsible.responsibleId); vm.openModalAddResponsible()" align="center">
              <div class="row">
                <div class="col-xs-9"></div>
                <div class="col-xs-3">
                  <i class="zmdi zmdi-close-circle-o zmdi-hc-4x" ng-click="vm.removeResponsible(responsible.responsibleId)"></i>
                  <!-- <img src="img/cancelar.png" class="responsive m-t-5" ng-click="vm.removeResponsible(responsible.responsibleId)"> -->
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12" align="center">
                  <span class="f-25">{{responsible.responsibleName}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12" align="center">
                  <span class="f-15">{{responsible.responsiblePhone}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Card para el registro de un nuevo responsable -->
          <div class="col-xs-6" ng-if="vm.listResponsibles.length >= 1">
            <div class="cardAddResponsible cursor-pointer"
                 align="center"
                 ng-mouseover="cardFocus = true"
                 ng-mouseleave="cardFocus = false"
                 ng-init="cardFocus = false"
                 ng-click="vm.responsible= {}; vm.openModalAddResponsible()">
              <i class="zmdi zmdi-plus zmdi-hc-5x d-block {{ cardFocus ? 'color-consigna-text' : 'color-consigna-text-hover' }}" style="margin-top: 40px"></i>
            </div>
          </div>

          <div class="col-xs-offset-2 col-xs-8 cursor-pointer"
               ng-click="vm.openModalAddResponsible()" ng-if="vm.listResponsibles.length < 1">
            <div class="row" align="center">
              <div class="zmdi zmdi-quote m-t-20 not-found-quote">
              </div>
              <div class="not-found">No se encontraron responsables</div>
              <div class="m-b-30 not-found m-t-15">Da clic para agregar uno</div>
            </div>
          </div>

        </div>
      </div>

      <!--Asignación-->
      <div ng-if="vm.view == 'assignment'">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-5" align="left">
            <div class="zmdi zmdi-search display-inline"></div>
            <label>
              <input type="text" class="form-control supervisor-search  display-inline" placeholder="Buscar..."
                     ng-model="vm.searchInGuards">
            </label>
          </div>
          <!--<div class="col-xs-3 m-r-20" align="left">-->
            <!--<div class="checkbox m-b-15">-->
              <!--<label>-->
                <!--<input type="checkbox" ng-model="mostrar">-->
                <!--<i class="input-helper"></i>-->
                <!--Mostrar Asignados-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <div class="row">
          <div class="m-l-30 col-xs-11 m-t-10 p-l-0 p-r-0 table-guardias table-box">
            <table class="table table-hover table-bordered ">
              <tbody>
              <tr ng-repeat="guard in vm.guards | toArray |filter: {usuarioNombre: vm.searchInGuards} " ng-if="!mostrar">
                <td align="left" ng-if="guard.usuarioDisponible">
                  <div class="checkbox m-t-0 m-b-0">
                    <label>
                      <input type="checkbox" ng-click="vm.addOrDeleteItemInAssignment(guard, guard.$key)" ng-checked="vm.verifyChecked(guard.usuarioNombre) > -1" >
                      <i class="input-helper"></i>
                      <span>{{guard.usuarioNombre}}</span>
                      [<span>{{guard.usuarioTurno}}</span>]
                    </label>
                  </div>
                </td>
                <td ng-if="guard.usuarioDisponible" class="col-xs-2">
                  <select  id="{{guard.$key}}">
                    <option value="Seleccione el servicio" selected>Seleccione el servicio</option>
                    <option value="{{customer.clienteNombre}}" ng-repeat="customer in vm.customers">{{customer.clienteNombre}}</option>
                  </select>
                </td>
                <td ng-if="guard.usuarioDisponible" class="col-xs-1">
                  <button class="btn btn-primary btn-sm waves-effect" ng-click="vm.moveGuardService(guard, vm.selectedCustome, guard.$key)">Mover</button>
                </td>

                <td  ng-if="guard.usuarioDisponible" align="center">
                  <div class="lv-actions actions dropdown" uib-dropdown="" ng-click="vm.guardInfo = guard; vm.openGuardiaDetails();">
                    <div class="cursor-pointer dropdown-toggle">
                      <i class="zmdi zmdi-info-outline zmdi-hc-2x actions-size"></i>
                    </div>
                  </div>
                </td>
              </tr>

              <!--<tr ng-repeat="guard in vm.guardsToClient | filter: {usuarioNombre: vm.searchInGuards} " ng-if="mostrar">-->
                <!--<td align="left">-->
                  <!--<div class="checkbox m-t-0 m-b-0">-->
                    <!--<label>-->
                      <!--<input type="checkbox" disabled ng-checked="vm.verifyChecked(guard.usuarioNombre) > -1; vm.isAssigned" >-->
                      <!--<i class="input-helper"></i>-->
                      <!--<span>{{guard.usuarioNombre}}</span>-->
                      <!--&lt;!&ndash;[<span>{{guard.usuarioTurno}}</span>]&ndash;&gt;-->
                    <!--</label>-->
                  <!--</div>-->
                <!--</td>-->
              <!--</tr>-->
              </tbody>
            </table>
          </div>

        </div>
        <div class="row">
         <div class="col-xs-12 m-t-15" align="center">
           <!--<button class="btn btn-primary waves-effect" ng-controller="supervisorCtrl as vm" ng-click="vm.isNewGuardiaofSeivice = true; vm.verifyUser('guardia')">Nuevo Guardia</button>-->
         </div>
       </div>
      </div>

      <!--Más de 3 Consignas-->
      <div ng-if="vm.view == 'consignas'">
        <div class="m-t-20">

          <!--Lista de consignas pequeñas-->
          <div class="col-xs-3 m-t-10" ng-repeat="consigna in vm.consignasArray | toArray" >
            <div class="card consigna-small cursor-pointer" ng-click="vm.verifyClientName( consigna.$key ); vm.isEditConsigna = true" align="center">
              <span class="title-consignaSmall"> {{ consigna.$key }} </span>
            </div>
          </div>

          <!--Registrar nueva consigna pequeña-->
          <div class="col-xs-3 m-t-10" ng-if="vm.consignasArray" >
            <div class="cardRegistrarConsignaSmall cursor-pointer"
                 align="center"
                 ng-mouseover="cardFocus = true"
                 ng-mouseleave="cardFocus = false"
                 ng-init="cardFocus = false"
                 ng-click="vm.verifyClientName()">

              <!--<span class="title-registerConsignaSmall d-block {{ cardFocus ? 'color-consigna-text' : 'color-consigna-text-hover' }}">Nueva consigna</span>-->

              <i class="zmdi zmdi-plus zmdi-hc-5x d-block {{ cardFocus ? 'color-consigna-text' : 'color-consigna-text-hover' }}"></i>

            </div>
          </div>

          <!--Primera consigna-->
          <div class="col-xs-offset-2 col-xs-8 cursor-pointer"
               ng-if="!vm.consignasArray"
               ng-click="vm.verifyClientName()">

            <div class="row" align="center">
              <div class="zmdi zmdi-quote m-t-20 not-found-quote">
              </div>
              <div class="not-found">No se encontraron consignas</div>
              <div class="m-b-30 not-found m-t-15">Da clic para agregar una</div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

  <!--Footer-->
  <div class="modal-footer">
    <div align="right">
      <button class="btn btn-primary waves-effect" ng-click="vm.view = 'general'; vm.responsibleId = 1" type="submit" ng-if="!vm.isEdit">Aceptar</button>
      <div class="btn btn-primary waves-effect" ng-click="vm.updateClient(); vm.clearConsignas(); vm.responsibleId = 1; vm.modal.dismiss();" ng-if="vm.isEdit">Aceptar</div>

      <div class="btn btn-primary waves-effect" ng-if="!vm.isEdit" ng-click="vm.modal.dismiss(); vm.deleteAllConsignas( vm.client.clienteNombre ); vm.guardsToClient = []; vm.client = {}; vm.isEdit = false; vm.client.clienteDisponible = true; vm.editClientCancel(); vm.clearConsignas(); vm.responsibleId = 1; vm.clearSchedule(); vm.listResponsibles = []">Cancelar</div>
      <div class="btn btn-primary waves-effect" ng-if="vm.isEdit" ng-click="vm.modal.dismiss(); vm.guardsToClient = []; vm.client = {}; vm.isEdit = false; vm.client.clienteDisponible = true; vm.editClientCancel(); vm.clearConsignas(); vm.responsibleId = 1; vm.clearSchedule(); vm.listResponsibles = []">Cancelar</div>
    </div>
  </div>
</form>
