<!--<div class="modal-header p-t-10">-->

<!--</div>-->

<div class=" modal-size" style="height: 300px;">

  <div class="">
    <div class=" m-t-10">
      <div class="card-body card-padding  card-info-guardias" style="">

        <div>
          <div>Guardia</div>
          <div class="text-info-guardia">
            {{ vm.guardInfo.usuarioNombre }}
          </div>
        </div>

        <div class="m-t-10">
          <div>Telefono:</div>
          <div class="text-info-guardia">
            {{ vm.guardInfo.usuarioTelefono }}
          </div>
        </div>

        <div class="m-t-10">
          <div>Domicilio:</div>
          <div class="text-info-guardia">
            {{ vm.guardInfo.usuarioDomicilio }}
          </div>
        </div>

        <div class="m-t-10">
          <div>Turno:</div>
          <div class="text-info-guardia">
            {{ vm.guardInfo.usuarioTurno }}
          </div>
        </div>

        <div class="m-t-20" style="width: 90%; bottom: 15px; position: absolute" ng-click="vm.modalGuardiaDetails.dismiss()">
          <div class="text-info-guardia cursor-pointer" style="background-color: #f44336;margin-right: 15px;" align="center">
            Cerrar
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!--<div class="modal-footer">-->
<!--<div align="center">-->
<!--<div class="btn btn-primary waves-effect" >Cerrar</div>-->
<!--</div>-->
<!--</div>-->



