<form ng-submit="vm.settingsUpdate()">

  <div class="modal-header p-t-10">
    <ul class="tab-nav">
      <li class="active">
        <a href="">Configuraciones</a>
      </li>
    </ul>
  </div>

  <div class="modal-body" style="height: 200px">
    <div class="row">

      <!--Sueldo-->
      <div class="col-xs-12 m-t-20">

        <span>Sueldo quincenal</span>
        <div class="fg-line m-l-10">
          <input type="number"
                 ng-model="vm.paysheetSettings.salary"
                 class="form-control"
                 placeholder="Sueldo..."
                 required>
        </div>

      </div>

      <!--Bono-->
      <div class="col-xs-12 m-t-20">

        <span>Bono del guardia</span>
        <div class="fg-line m-l-10">
          <input type="number"
                 ng-model="vm.paysheetSettings.bond"
                 class="form-control"
                 placeholder="Bono..."
                 required>
        </div>

      </div>

    </div>
  </div>
  <div class="modal-footer">
    <div align="right">
      <button class="btn btn-success waves-effect" type="submit">Aceptar</button>
      <div class="btn btn-danger waves-effect" ng-click="vm.modal.dismiss(); vm.paysheetSettings = {};">Cancelar</div>
    </div>
  </div>
</form>
