<form ng-submit="vm.registerUser()">

  <div class="modal-header p-t-10">
    <ul class="tab-nav">
      <li class="{{vm.view == 'general' ? 'active' : ''}}">
        <a href="" ng-click="vm.changeView('general')">General</a>
      </li>
      <!--<li class="{{vm.view == 'asignacion' ? 'active' : ''}}" ng-if="vm.user.usuarioTipo1w == 'supervisor'">-->
      <!--<a href="" ng-click="vm.changeView('asignacion')">Asignación</a>-->
      <!--</li>-->
    </ul>
  </div>

  <div class="modal-body modal-size-users">
    <div class="row">

      <!--General-->
      <div class="m-l-30 m-r-30 " ng-if="vm.view == 'general'">
        <div class="row m-t-20">

          <!--TIPO DE USUARIO-->
          <div class="col-xs-offset-1 col-xs-5">
            <span>Tipo de usuario</span>
            <div class="fg-line m-l-10">
              <select
                class="form-control"
                ng-model="vm.user.usuarioTipo"
                ng-disabled="true">

                <option value="guardia">Guardia</option>
                <option value="supervisor">Supervisor</option>
                <option value="administrador">Administrador</option>
                <option value="coordinador">Coordinador</option>
                <option value="recursosHumanos">Recursos Humanos</option>
              </select>
            </div>

          </div>

          <!--NOMBRE-->
          <div class="col-xs-5">
            <span>Nombre</span>
            <div class="fg-line m-l-10">
              <input type="text" ng-model="vm.user.usuarioNombre" class="form-control"
                     placeholder="Escribe un nombre completo aquí..." required>
            </div>
          </div>
        </div>

        <div class="row m-t-30" ng-if="vm.user.usuarioTipo != 'guardia'">

          <!--CORREO ELECTRONICO-->
          <div class="col-xs-offset-1 col-xs-5">
            <span>Correo electrónico</span>
            <div class="fg-line m-l-10">
              <input type="email"
                     ng-model="vm.user.usuarioEmail"
                     class="form-control"
                     placeholder="ejemplo@argus.com"
                     ng-disabled="vm.isEdit"
                     required>
            </div>
          </div>

          <!--CONTRASEÑA-->
          <div class="col-xs-4">
            <span>Contraseña</span>
            <div class="fg-line m-l-10">
              <input type="{{vm.viewPassword ? 'text' : 'password'}}"
                     ng-model="vm.user.usuarioContrasena"
                     class="form-control"
                     placeholder="* * * * *"
                     ng-disabled="vm.isEdit"
                     required>
            </div>

          </div>
          <div class="col-xs-1 p-t-25">
            <i class="zmdi zmdi-eye zmdi-hc-2x" ng-click="vm.viewPassword = !vm.viewPassword"
               ng-if="vm.viewPassword"></i>
            <i class="zmdi zmdi-eye-off zmdi-hc-2x" ng-click="vm.viewPassword = !vm.viewPassword"
               ng-if="!vm.viewPassword"></i>
          </div>
        </div>

        <div class="row m-t-30">

          <!--TELEFONO-->
          <div class="col-xs-offset-1 col-xs-5">
            <span>Teléfono celular</span>
            <div class="fg-line m-l-10">
              <input type="number" ng-model="vm.user.usuarioTelefonoCelular" class="form-control"
                     placeholder="Télefono celular" required>
            </div>
          </div>

          <div class=" col-xs-5">
            <span>Teléfono de casa</span>
            <div class="fg-line m-l-10">
              <input type="number" ng-model="vm.user.usuarioTelefono" class="form-control"
                     placeholder="Télefono de casa" required>
            </div>
          </div>

          <div class="preloader pls-blue pl-xl loader-position" align="center" ng-if="vm.isLoadingRegister">
            <svg class="pl-circular" viewBox="25 25 50 50">
              <circle class="plc-path" cx="50" cy="50" r="20"></circle>
            </svg>
          </div>

        </div>

        <div class="row  m-t-30" ng-if="vm.user.usuarioTipo == 'supervisor'">
          <!--ZONA-->
          <div class="col-xs-offset-1 col-xs-5">
            <span>Zona</span>
            <div class="fg-line m-l-10">
              <select class="form-control" ng-model="vm.user.usuarioZona">
                <!-- <option value="{{zona.zonaNombre}}" ng-repeat="zona in vm.zonas" ng-if="zona.disponibilidadZona">{{zona.zonaNombre}}</option> -->
                <option value="{{zona}}" ng-repeat="zona in vm.zonasDisponibles">{{zona}}</option>
              </select>
            </div>
          </div>
          <!-- Turno -->
          <div class="col-xs-5">
            <span>Turno</span>
            <div class="fg-line m-l-10">
              <select class="form-control" ng-model="vm.user.usuarioTurno">
                <option value="Día">Dia</option>
                <option value="Noche">Noche</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row m-t-30" ng-if="vm.user.usuarioTipo == 'guardia'">
          <!--Sueldo base del guardia-->
          <div class=" col-xs-offset-1 col-xs-5">
            <span>Sueldo base</span>
            <div class="fg-line m-l-10">
              <input type="number" ng-model="vm.user.usuarioSueldoBase" class="form-control">
            </div>
          </div>
          <!--TURNO-->
          <div class=" col-xs-5">
            <span>Turno</span>
            <div class="fg-line m-l-10">
              <select class="form-control" ng-model="vm.user.usuarioTurno">
                <option value="Día">Dia</option>
                <option value="Noche">Noche</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row m-t-30" ng-if="vm.user.usuarioTipo == 'supervisor' || vm.user.usuarioTipo == 'guardia'">
          <div class="col-xs-offset-1 col-xs-10">
            <span>Domicilio</span>
          </div>
        </div>
        <div class="row" ng-if="vm.user.usuarioTipo == 'supervisor' || vm.user.usuarioTipo == 'guardia'">
          <!-- Colonia -->
          <div class="col-xs-offset-1 col-xs-5">
            <div class="fg-line m-l-10">
              <input type="text" ng-model="vm.user.usuarioColony" class="form-control"
                     placeholder="Colonia..." required>
            </div>
          </div>
          <!-- Calle y numero -->
          <div class="col-xs-5">
            <div class="fg-line m-l-10">
              <input type="text" ng-model="vm.user.usuarioStreet" class="form-control"
                     placeholder="Calle y Numero..." required>
            </div>
          </div>

        </div>
        <div class="row m-t-30" ng-if="vm.user.usuarioTipo == 'guardia'">

          <!--SERVICIO AL QUE SE INSCRIBIRÁ-->
          <div class="col-xs-offset-1 col-xs-5">
            <span>Servicio</span>
            <div class="fg-line m-l-10">
              <select class="form-control" ng-model="vm.user.usuarioClienteAsignado">
                <option value="Sin asignar" selected="selected">Sin asignar</option>
                <option value="{{customer.clienteNombre}}" ng-repeat="customer in vm.customers">
                  {{customer.clienteNombre}}
                </option>
              </select>
            </div>
          </div>

          <!--DIA DE DESCANSO-->
          <div class="col-xs-5" ng-if="vm.user.usuarioTipo == 'guardia'">
            <span>Día de descanso</span>
            <div class="fg-line m-l-10">
              <select
                class="form-control"
                ng-model="vm.user.diaDescanso">

                <option value="0">Domingo</option>
                <option value="1">Lunes</option>
                <option value="2">Martes</option>
                <option value="3">Miercoles</option>
                <option value="4">Jueves</option>
                <option value="5">Viernes</option>
                <option value="6">Sabado</option>

              </select>
            </div>
          </div>

        </div>
      </div>

      <!--Asignación-->
      <div ng-if="vm.view == 'asignacion'">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-5 m-r-20" align="left">
            <div class="zmdi zmdi-search display-inline"></div>
            <label>
              <input type="text" class="form-control supervisor-search  display-inline" placeholder="Buscar..."
                     ng-model="vm.buscarGuardia">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-offset-2 col-xs-8 m-t-10 p-l-0 p-r-0 table-guardias table-box">
            <table class="table table-hover table-bordered ">
              <tbody>
              <tr ng-repeat="guardia in vm.usuarios | toArray |filter: {usuarioNombre: vm.buscarGuardia}">
                <td align="left" ng-if="guardia.usuarioTipo == 'guardia' && guardia.usuarioDisponible == true">
                  <div class="checkbox m-t-0 m-b-0">
                    <label>
                      <input type="checkbox" ng-click="vm.addOrDeleteItemInAssignment(guardia)">
                      <i class="input-helper"></i>
                      <span>{{guardia.usuarioNombre}}</span>
                    </label>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <div align="right">
      <button class="btn btn-primary waves-effect" type="submit" ng-if="!vm.isEdit || vm.isNewGuardiaofSeivice">
        Aceptar
      </button>
      <div class="btn btn-primary waves-effect" ng-click="vm.update = false; vm.updateUser()" ng-if="vm.isEdit">
        Aceptar
      </div>
      <div class="btn btn-primary waves-effect"
           ng-click="vm.modal.dismiss(); vm.isEdit = false ;vm.editUserCancel(vm.user.usuarioTipo, vm.isEdit); vm.user = {}; vm.user.usuarioTipo = 'guardia';">
        Cancelar
      </div>
    </div>
  </div>
</form>
