<div class="col-xs-12" style="/*background-image: url('img/background-login.png'); height: 100vh*/" align="center">

  <!--<div class="logo-argus">-->
    <!--<img src="../img/logo-argus.png" alt="" class="img-rounded">-->
  <!--</div>-->


  <div class="card card-login form-log"  align="center">
    <!--<div class="title-text-login" align="center">INICIAR SESIÓN</div>-->



    <form ng-submit="vm.login('EMAIL')" class="formLogin">
      <div class="login-user-group row">
        <div class="col-xs-1">
          <i class="zmdi zmdi-account zmdi-hc-2x" style="padding-top: 7px;"></i>
        </div>
        <div class="col-xs-10 ">
          <div class="fg-float form-group">
            <div class="fg-line" style="margin-left: 8px;">
              <input type="email" class="login-user form-control" placeholder="" ng-model="vm.email" autofocus
                     required>
              <label class="fg-label">Correo electrónico</label>
            </div>
          </div>
        </div>
      </div>

      <div class="login-user-group row">
        <div class="col-xs-1">
          <i class="zmdi zmdi-lock zmdi-hc-2x" style="padding-top: 7px;"></i>
        </div>
        <div class="col-xs-10">
          <div class="fg-float form-group">
            <div class="fg-line" style="margin-left:8px">
              <input type="password" class="login-pass form-control" ng-model="vm.password"
                     required>
              <label class="fg-label">Contraseña</label>
              {{ vm.userType }}
            </div>
          </div>
        </div>
      </div>

      <!--<div class="remember">-->
      <!--<input type="checkbox" class="" ng-model="vm.checkUser">-->
      <!--<span style="padding-bottom: 2px">Recuerdame</span>-->
      <!--</div>-->

      <!--Button Login-->
      <div align="center" class="btn-group-login">
        <button type="submit" class="btn btn-primary form-control btn-login" style="">INICIAR SESIÓN</button>
      </div>
      <div class="col-lg-offset-3 col-lg-6 m-t-30">
        <div class="preloader pls-blue pl-xl" align="center" ng-if="vm.isLoading">
          <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20"></circle>
          </svg>
        </div>
      </div>
    </form>

    <!--<div class="formLoginFooter" align="center">-->
      <!--<span>¿No tienes una cuenta? </span>-->
      <!--<a href="#/register">¡Registra una!</a>-->
    <!--</div>-->
  </div>
</div>
