<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'"
        data-ng-controller="headerCtrl as hctrl">
</header>

<section id="main">

  <div class="card m-l-20 m-r-20">

    <!--SELECCIONAR EL RANGO DE FECHAS-->
    <div class="row">
      <div class="col-xs-offset-1 col-xs-3 p-r-0  m-t-20 p-r-0">
        <div class="datepickerdemoBasicUsage">
          <md-content class="size-datepicker">
            <md-datepicker ng-model="fromDate" md-placeholder="Introduzca fecha"></md-datepicker>
          </md-content>
        </div>
      </div>
      <div class="col-xs-1 p-l-0 p-r-0  m-t-20 p-l-0 p-r-0">
        <div class="a-datepicker" align="center">a</div>
      </div>
      <div class="col-xs-3  m-t-20">
        <div class="datepickerdemoBasicUsage">
          <md-content class="size-datepicker">
            <md-datepicker ng-model="vm.toDate" md-placeholder="Introduzca fecha"></md-datepicker>
          </md-content>
        </div>
      </div>
      <div class="col-xs-2  m-t-25">
        <button class="btn btn-waves btn-success" ng-click="vm.getPaySheet(fromDate, vm.toDate)">Ver resultados</button>
      </div>
      <div class="col-xs-2 m-t-25">
        <button class="btn waves-effect btn-primary" ng-click="vm.exportToExcel()">
          Exportar
        </button>
      </div>
      <!--<button ng-click="vm.createBitacora();">Crear 100 años</button>-->
    </div>

    <!--FILTROS-->
    <div class="row m-t-15" ng-if="vm.objectService.getObjectLength(vm.paySheet) != 0">
      <h4 class="col-xs-offset-1 m-t-0">Filtros</h4>
      <div class="col-xs-offset-1 col-xs-3">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="Por Zonas" ng-model="vm.searchByZone">
        </div>
      </div>

      <div class=" col-xs-3">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="Por Servicios" ng-model="vm.searchByService">
        </div>
      </div>

      <div class="col-xs-3">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="Por Guardias" ng-model="vm.searchByGuardName">
        </div>
      </div>
    </div>

    <div class="col-lg-offset-5 col-lg-6 m-t-30" ng-if="vm.isLoading">
      <div class="preloader pls-blue pl-xl" align="center">
        <svg class="pl-circular" viewBox="25 25 50 50">
          <circle class="plc-path" cx="50" cy="50" r="20"></circle>
        </svg>
      </div>
    </div>

    <!--LISTA DE PRE-NOMINA-->
    <div class="row p-t-20 m-l-20 m-r-20" style="overflow-x: auto"
         ng-if="vm.objectService.getObjectLength(vm.paySheet) != 0">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ZONA RIO</th>
          <th>SALARIO</th>
          <th>DESCUENTO FALTA</th>
          <th>ADELANTO</th>
          <th></th>

          <th align="center" ng-repeat="day in vm.rangeOfDates">{{ day.numberDay }}</th>

          <th></th>
          <th>DL</th>
          <th>DT</th>
          <th>HE</th>
          <th>P</th>
          <th>PP</th>
          <th>E</th>
          <th>F</th>
          <th>N</th>
          <th>i</th>
          <th>v</th>
          <th>TOTAL DL</th>
          <th>TOTAL DT</th>
          <th>TOTAL HE</th>
          <th>TOTAL DT, DL y HE</th>
          <th>TOTAL DL, DT, HE Y F</th>
          <th>SUB. TOT.</th>
          <th>PRESTAMO Y O.P.</th>
          <th>TOTAL</th>
          <th>COMENTARIOS GENERALES</th>
        </tr>
        </thead>
        <tbody>

        <tr>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td align="center" ng-repeat="day in vm.rangeOfDates">{{ day.letterDay }}</td>
          <td></td>
          <td></td>
          <td></td>

        </tr>

        <tr class=""
            ng-repeat="guard in vm.paySheet | toArray | filter: { nombreGuardia: vm.searchByGuardName, zona: vm.searchByZone, servicio: vm.searchByService }">
          <td style="    width: auto; max-width: 500px; min-width: 300px;">{{ guard.nombreGuardia }}</td>
          <td align="right">{{ guard.salario }}</td>
          <td align="right">{{ guard.descuentoPorFalta }}</td>
          <td align="right">{{ guard.bono }}</td>
          <td></td>

          <td
            style="width: 15px; color: white; cursor: default !important;  {{ status.status == 'F' ? 'background-color: #e74c3c' : ( status.status == 'DL' ? 'background-color: #e67e22' : ( status.status == 'DT' ? 'background-color: #3498db' : ( status.status == 'D' ? 'background-color: #27ae60' : 'background-color: white; color: black !important')))}}"
            align="center" ng-repeat="status in guard.status"
            ng-click="vm.selectAllText(guard.guardiaKey+status.statusKey)">
            <input id="{{ guard.guardiaKey + status.statusKey }}"
                   style="width: 15px; border:none; {{ status.status == 'F' ? 'background-color: #e74c3c' : ( status.status == 'DL' ? 'background-color: #e67e22' : ( status.status == 'DT' ? 'background-color: #3498db' : ( status.status == 'D' ? 'background-color: #27ae60' : 'background-color: white; color: black !important')))}}"
                   type="text" value="{{ status.status == 'A' ? '' : status.status }}"
                   ng-blur="vm.updateStatusOfGuard(guard.guardiaKey+status.statusKey, status.statusKey, guard.nominaKey, guard.guardiaKey)"
                   ng-keyup="vm.updateStatusOfGuard(guard.guardiaKey+status.statusKey, status.statusKey, guard.nominaKey, guard.guardiaKey)">
          </td>

          <td></td>
          <td align="center">{{ guard.descansosLaborados }}</td>
          <td align="center">{{ guard.dobleTurnos }}</td>
          <td align="center">{{ guard.horasExtras }}</td>
          <td align="center">0</td>
          <td align="center">0</td>
          <td align="center">0</td>
          <td align="center">{{ guard.inasistencias }}</td>
          <td align="center">0</td>
          <td align="center">0</td>
          <td align="center">0</td>
          <td align="right">{{ guard.descansosLaboradosTotal }}</td>
          <td align="right">{{ guard.dobleTurnosTotal }}</td>
          <td align="right">{{ guard.horasExtrasTotal }}</td>
          <td align="right">{{ guard.totalExtras }}</td>
          <td align="right">{{ guard.totalExtrasYFaltas }}</td>
          <td align="right">{{ guard.subTotal }}</td>
          <td align="right">
            <input class="" id="{{ guard.guardiaKey+'prestamos' }}" type="text" value="{{ guard.prestamosOP }}"
                   ng-blur="vm.updatePaySheetOfGuard(guard.guardiaKey+'prestamos', 'prestamosOP', guard.guardiaKey, guard.nominaKey)"
                   ng-keyup="$event.keyCode == 13 ? vm.updatePaySheetOfGuard(guard.guardiaKey+'prestamos', 'prestamosOP', guard.guardiaKey, guard.nominaKey) : ''">
          </td>
          <td align="right">{{ guard.sueldoTotal }}</td>
          <td>
            <input class="" id="{{ guard.guardiaKey+'comentarios' }}" type="text"
                   value="{{ guard.comentariosGenerales }}"
                   ng-blur="vm.updatePaySheetOfGuard(guard.guardiaKey+'comentarios', 'comentariosGenerales', guard.guardiaKey, guard.nominaKey)"
                   ng-keyup="$event.keyCode == 13 ? vm.updatePaySheetOfGuard(guard.guardiaKey+'comentarios', 'comentariosGenerales', guard.guardiaKey, guard.nominaKey) : ''">
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
